// Colors
  $dark-black: #141515;
  $black: #262727;
  $gray: #555657;
  $white: #dddddd;
  $pink: #f5d1c8;
  $red: #ff8278;
  $orange: #ffc178;
  $yellow: #eadc84;
  $green: #bde077;
  $blue: #77bee0;
  $purple: #dd91f3;

* {
  all: unset;
}

//Global Styles
.bar {
  font-family: 'VictorMono Nerd Font';
  font-style: normal;
  font-weight: bold;
  background-color: $black;
  color: $pink;
  border-radius: 10px;
}

//Icon
.power-button {
  margin: 0 10px;
}
.power-button:hover {
  color: $red;
}

//Notification Revealer
.notification-revealer {
  margin: 0 10px;
  color: $black;
}
.notification-box {
  border-radius: 6px;
  background-color: $pink;
}

//Current Window
.current-window {
  margin: 0 10px;
  padding: 0 10px;
  border-radius: 6px;
  background-color: $pink;
  color: $black;
}

//Workspaces
.ws-button {
  margin: 0 10px;
  color: $gray;
}
.ws-button:hover {
  color: $white;
}

//Screen1 Workspaces
.ws-button-mine {
  margin: 0 10px;
}
.ws-button-mine:hover {
  color: $white;
}
.ws-button-visible {
  margin: 0 10px;
  color: $gray;
}
.ws-button-visible:hover {
  color: $white;
}
.ws-button-busy {
  margin: 0 10px;
  color: $gray;
}
.ws-button-busy:hover {
  color: $white;
}

//Screen2 Workspaces
.ws-button-mine2 {
  margin: 0 10px;
  color: $gray;
}
.ws-button-mine2:hover {
  color: $white;
}
.ws-button-visible2 {
  margin: 0 10px;
}
.ws-button-visible2:hover {
  color: $white;
}
.ws-button-busy2 {
  margin: 0 10px;
  color: $gray;
}
.ws-button-busy2:hover {
  color: $white;
}

//Bluetooth Button
.bluetooth-button {
  margin: 0 10px;
}
.bluetooth-button:hover {
  color: $blue;
}

//Volume Slider
.slider-vol scale trough highlight {
  background-color: $pink;
  border-radius: 10px;
}
.slider-vol scale trough highlight:hover {
  background-color: $purple;
}
.slider-vol scale trough {
  background-color: $gray;
  border-radius: 10px;
  min-height: 4px;
  min-width: 50px;
  margin-left: 10px;
}
.label-vol {
  margin: 0 10px;
}
.label-vol:hover {
  color: $purple;
}

//Time
.time {
  margin: 0 10px;
}
.time:hover {
  color: $blue;
}

//Notification Center
.notificationcenter {
  margin: 0 10px;
}
.notificationcenter:hover {
  color: $green;
}

//Reload
.reload {
  margin: 0 10px;
}
.reload:hover {
  color: $green;
}

//Calendar
.cal {
  font-weight: bold;
  background-color: $black;
  color: $pink;
}
.cal:selected {
  border-radius: 10px;
  background-color: $pink;
  color: $black;
}
.cal.header {
  color: $blue;
}
.cal.button {
color: $purple;
}
.cal.highlight {
  color: $purple;
}
.cal:indeterminate {
color: $black;
}
