// Colors
$dark-black: #141515;
$black: #262727;
$gray: #555657;
$white: #dddddd;
$pink: #f5d1c8;
$red: #ff8278;
$orange: #ffc178;
$yellow: #eadc84;
$green: #bde077;
$blue: #77bee0;
$purple: #dd91f3;

* {
	all: unset;
	border-radius: 10px;
	font-family: 'VictorMono Nerd Font';
	font-style: normal;
	font-weight: bold;
}

//Global Styles
.bar {
	background-color: $black;
	color: $pink;
}

//PowerMenu
.power-button {
	margin: 0 10px;
}
.power-button:hover {
	color: $red;
}
.reboot-button {
	margin: 0 10px;
}
.reboot-button:hover {
	margin: 0 10px;
	color: $orange;
}
.lock-button {
	margin: 0 10px;
}
.lock-button:hover {
	margin: 0 10px;
	color: $yellow;
}
.refresh-button:hover {
	margin: 0 10px;
	color: $green;
}

//CapsLock Status
.capslockstatus {
	color: $red;
	margin: 0 10px;
}

//Current Window
.current-window {
	margin: 0 10px;
  padding: 0 10px;
  border-radius: 6px;
  background-color: $pink;
  color: $black;
}

//Workspaces
.ws-button {
	margin: 0 10px;
  color: $gray;
}
.ws-button:hover {
	color: $white;
}

//Screen1 Workspaces
.ws-button-mine {
	margin: 0 10px;
}
.ws-button-mine:hover {
	color: $white;
}
.ws-button-visible {
	margin: 0 10px;
  color: $gray;
}
.ws-button-visible:hover {
	color: $white;
}
.ws-button-busy {
	margin: 0 10px;
  color: $gray;
}
.ws-button-busy:hover {
	color: $white;
}

//Screen2 Workspaces
.ws-button-mine2 {
	margin: 0 10px;
  color: $gray;
}
.ws-button-mine2:hover {
	color: $white;
}
.ws-button-visible2 {
	margin: 0 10px;
}
.ws-button-visible2:hover {
	color: $white;
}
.ws-button-busy2 {
	margin: 0 10px;
	color: $gray;
}
.ws-button-busy2:hover {
	color: $white;
}

//Volume Slider
.slider-vol scale trough highlight {
	background-color: $pink;
	border-radius: 10px;
}
.slider-vol scale trough highlight:hover {
	background-color: $purple;
}
.slider-vol scale trough {
  background-color: $gray;
  border-radius: 10px;
  min-height: 4px;
  min-width: 50px;
  margin-left: 10px;
}
.label-vol {
	margin: 0 10px;
}
.label-vol:hover {
	color: $purple;
}

//Time
.time {
	margin: 0 10px;
}
.time:hover {
	color: $blue;
}

//Bluetooth Button
.bluetooth-button {
	margin: 0 10px;
}
.bluetooth-button:hover {
	color: $blue;
}

//Notification Center
.notificationcenter {
	margin: 0 10px;
}
.notificationcenter:hover {
	color: $green;
}

//Reload
.reload {
	margin: 0 10px;
}
.reload:hover {
	color: $green;
}

//Calendar
.cal {
  background-color: $black;
  color: $pink;
}
.cal:selected {
	border-radius: 10px;
  background-color: $pink;
  color: $black;
}
.cal.header {
	color: $blue;
}
.cal.button {
	color: $purple;
}
.cal.highlight {
	color: $purple;
}
.cal:indeterminate {
	color: $gray;
}
