* {
  all: unset;
}

//Global Styles
window {
  background-color: #555657;
  color: #f5d1c8;
  font-family: CaskaydiaCove Nerd Font;
  border-radius: 10;
}

// Styles on classes (see eww.xml for more information)

// Icon
.icon {
  all: unset;
  margin-left: 10px;
  margin-right: 10px;
}

// Base Slider
.sidestuff slider {
  all: unset;
  color: #f5d1c8;
}

// Volume Slider
.slider-vol scale trough highlight {
  all: unset;
  background-color: #f5d1c8;
  color: #262627;
  border-radius: 10px;
}
.slider-vol scale trough {
  all: unset;
  background-color: #262727;
  border-radius: 10px;
  min-height: 6px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.label-vol {
  font-size: large;
}

// Date & Time
.date {
  all: unset;
  margin-left: 10px;
  margin-right: 10px;
}
.time {
  all: unset;
  margin-left: 10px;
  margin-right: 10px;
}

// Workspaces
.workspaces {
  all: unset;
}
.ws-button-mine {
  all: unset;
  margin-left: 10px;
  margin-right: 10px;
}
.ws-button-visible {
  all: unset;
  margin-left: 10px;
  margin-right: 10px;
}
.ws-button-busy {
  all: unset;
  margin-left: 10px;
  margin-right: 10px;
}
.ws-button {
  all: unset;
  margin-left: 10px;
  margin-right: 10px;
}
