/*Theme*/
.theme-dark {
    --font-primary: 'VictorMono Nerd Font';
    --font-display: 'Scientifica';
    --background-primary: #262727;
    --background-secondary: #0e0e0e;
    --background-secondary-alt: #0e0e0e;
    --background-tertiary: #262727;
    --background-floating: #262727;
    --background-mobile-primary: #0e0e0e;
    --background-mobile-secondary: #262727;
    --header-primary : #f5d1c8;
    --interactive-normal : #f5d1c8;
    --interactive-hover : #dddddd;
    --interactive-active : #f5d1c8;
    --interactive-muted : #555657;
    --text-normal : #dddddd;
    --text-link : #77bee0;
    --text-muted : #555657;
    --text-warning : #ff8278;
    --channeltextarea-background: #55565755;
    --background-accent: #f5d1c8;
    --background-message-hover: #55565755;
    --background-modifier-hover: #55565755;
    --background-modifier-active: transparent;
    --background-modifier-selected: #262727;
    --deprecated-card-bg: #262727;
    --deprecated-quickswitcher-input-background:#262727;
    --elevation-low: none;
    --scrollbar-auto-thumb: #555657;
    --scrollbar-auto-track: #0e0e0e;
    --scrollbar-thin-thumb: #555657;
    --activity-card-background: #262727;
    --brand-experiment : #555657 !important;
}
.peopleList-3c4jOR.auto-Ge5KZx.scrollerBase-289Jih {
    background-color: #262727;
}
.peopleColumn-29fq28 {
    background-color: #262727;
}
.item-2hkk8m {
    background-color: #555657;
}

/*Hover Reveal Servers*/
nav[aria-label="Servers sidebar"] {
    width: 12px;
    transition: width 0.2s;
}
nav[aria-label="Servers sidebar"]:hover {
    width: 70px;
}

/* Minified Members and Search */
/* By Fitil, Search fix by Cryptogenic */
.members-1998pB, .membersWrap-2h-GB4, .searchResultsWrap-3-pOjs {
  z-index: 3;
  /*border-radius: 18px 0px 0px 18px !important;*/
  margin-top: 4px;
  margin-bottom: 4px;
  width: 62px;
  min-width: 60px;
  transition-property: width, min-width;
  transition-duration: 0.2s;
}
.members-1998pB:hover, .membersWrap-2h-GB4:hover {
  width: 240px;
  min-width: 240px;
}
.searchResultsWrap-3-pOjs:hover {
  width: 418px;
  min-width: 418px;
}
.searchResultGroup-1DphGG {
  width: 394px;
}
.membersWrap-2h-GB4, .searchResultsWrap-3-pOjs {
  position: absolute;
  right: 0;
  height: 100%;
  box-shadow: none;
}
.chatContent-a9vAAp {
  min-width: calc(100% - 60px);
  max-width: calc(100% - 60px);
}
.chatContent-a9vAAp[aria-label=" (channel)"] {
  min-width: 100%;
  max-width: 100%;
}

/*Hide Discord List Avatars*/
/*.layout-2DM8Md .avatar-3uk_u9, .subText-1KtqkB{
    display:none !important;
}*/

/*Hide Scrollbars*/
::-webkit-scrollbar {
    display: none;
}
.content-1x5b-n {
    margin: 0 !important;
    border-radius: 0;
}
.mainContent-u_9PKf {
    padding-left: 8px;
}
.container-2Pjhx- {
    margin: 0;
    max-width: unset;
}
.layout-2DM8Md {
    border-radius: 0;
    padding: 0 16px;
}
.unread-2lAfLh {
    z-index: 1;
}
.buttons-3JBrkn {
    padding-right: 10px !important;
}

/*Radial Status Icon*/
#app-mount .wrapper-3t9DeA {
  border-radius: var(--rs-avatar-shape);
}
#app-mount .wrapper-3t9DeA svg:not(:root) {
  overflow: visible;
}
#app-mount .wrapper-3t9DeA foreignObject {
  -webkit-mask: none;
          mask: none;
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle {
  cy: -8 !important;
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(1) {
  cx: -8.5 !important;
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(2) {
  cx: -2.25 !important;
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(3) {
  cx: 4 !important;
}
#app-mount .wrapper-3t9DeA .mask-1l8v16 > rect[x="22"] {
  x: 0;
  y: 0;
}
#app-mount .wrapper-3t9DeA .pointerEvents-2zdfdO[x="14.5"] {
  fill: rgba(0, 0, 0, 0.5) !important;
  width: 30px;
  height: 30px;
  x: 1;
  y: 1;
}
#app-mount .wrapper-3t9DeA img, #app-mount .wrapper-3t9DeA.avatar-AvHqJA {
  border-radius: var(--rs-avatar-shape);
}
#app-mount .wrapper-3t9DeA svg[width="25"][height="15"] > rect {
  rx: calc(var(--rs-avatar-shape) * 2) !important;
  ry: calc(var(--rs-avatar-shape) * 2) !important;
}
#app-mount .wrapper-3t9DeA[style*="80px"] svg.cursorDefault-dsQJ1n rect, #app-mount .wrapper-3t9DeA[style*="120px"] svg.cursorDefault-dsQJ1n rect {
  ry: calc(var(--rs-avatar-shape) * 3.3);
  rx: calc(var(--rs-avatar-shape) * 3.3);
}
#app-mount .wrapper-3t9DeA rect {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: none;
          mask: none;
  display: block;
  rx: var(--rs-avatar-shape);
  ry: var(--rs-avatar-shape);
  fill: transparent !important;
  stroke-width: var(--rs-small-width);
}
#app-mount .wrapper-3t9DeA rect[fill="#43b581"], #app-mount .wrapper-3t9DeA rect[fill="#3ba55c"], #app-mount .wrapper-3t9DeA rect[fill="rgba(67, 181, 129, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=online], #app-mount .wrapper-3t9DeA rect[fill*="hsl(139"] {
  stroke: var(--rs-online-color);
}
#app-mount .wrapper-3t9DeA rect[fill="#faa61a"], #app-mount .wrapper-3t9DeA rect[fill="rgba(250, 166, 26, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=idle], #app-mount .wrapper-3t9DeA rect[fill*="hsl(38"] {
  stroke: var(--rs-idle-color);
}
#app-mount .wrapper-3t9DeA rect[fill="#f04747"], #app-mount .wrapper-3t9DeA rect[fill="rgba(240, 71, 71, 1)"], #app-mount .wrapper-3t9DeA rect[fill="#ed4245"], #app-mount .wrapper-3t9DeA rect[mask*=dnd], #app-mount .wrapper-3t9DeA rect[fill*="hsl(359"] {
  stroke: var(--rs-dnd-color);
}
#app-mount .wrapper-3t9DeA rect[fill="#593695"], #app-mount .wrapper-3t9DeA rect[mask*=streaming] {
  stroke: var(--rs-streaming-color);
}
#app-mount .wrapper-3t9DeA rect[fill="#747f8d"], #app-mount .wrapper-3t9DeA rect[mask*=offline], #app-mount .wrapper-3t9DeA rect[fill=NaN] {
  stroke: var(--rs-offline-color);
}
#app-mount .wrapper-3t9DeA rect[fill="#747f8d"], #app-mount .wrapper-3t9DeA rect[mask*=invisible], #app-mount .wrapper-3t9DeA rect[fill="rgba(116, 127, 141, 1)"], #app-mount .wrapper-3t9DeA rect[fill*="hsl(214"] {
  stroke: var(--rs-invisible-color);
}
#app-mount .wrapper-3t9DeA rect[x="16"] {
  width: 24px;
  height: 24px;
}
#app-mount .wrapper-3t9DeA rect[x="28"] {
  width: 40px;
  height: 40px;
  overflow: visible;
}
#app-mount .wrapper-3t9DeA[style*="32px"] rect {
  width: 32px;
  height: 32px;
  x: -14.5;
  y: -17;
  position: relative;
  z-index: 0;
}
#app-mount .wrapper-3t9DeA[style*="40px"] > svg > svg rect {
  width: 40px;
  height: 40px;
  x: -19;
  y: -20;
  ry: calc(var(--rs-avatar-shape) * 3.3);
  rx: calc(var(--rs-avatar-shape) * 3.3);
}
#app-mount .wrapper-3t9DeA[style*="40px"] foreignObject[mask*=mobile] img {
  width: calc(100% - 12px);
}
#app-mount .wrapper-3t9DeA[style*="80px"] svg.cursorDefault-dsQJ1n rect {
  x: -48;
  y: -52;
}
#app-mount .wrapper-3t9DeA[style*="80px"] rect {
  width: 80px;
  height: 80px;
  stroke-width: var(--rs-medium-width);
}
#app-mount .wrapper-3t9DeA[style*="80px"] img {
  -webkit-clip-path: inset(calc(var(--rs-medium-spacing) + 1px) calc(var(--rs-medium-spacing) + 1px) round var(--rs-avatar-shape));
          clip-path: inset(calc(var(--rs-medium-spacing) + 1px) calc(var(--rs-medium-spacing) + 1px) round var(--rs-avatar-shape));
}
#app-mount .wrapper-3t9DeA[style*="120px"] svg.cursorDefault-dsQJ1n rect {
  x: -70;
  y: -76;
}
#app-mount .wrapper-3t9DeA[style*="120px"] rect {
  width: 120px;
  height: 120px;
  stroke-width: var(--rs-large-width);
}
#app-mount .wrapper-3t9DeA[style*="120px"] img {
  -webkit-clip-path: inset(calc(var(--rs-large-spacing) + 1px) calc(var(--rs-large-spacing) + 1px) round var(--rs-avatar-shape));
          clip-path: inset(calc(var(--rs-large-spacing) + 1px) calc(var(--rs-large-spacing) + 1px) round var(--rs-avatar-shape));
}
#app-mount .wrapper-3t9DeA:not([style*="80px;"]):not([style*="120px;"]):not([style*="16px"]) > svg > foreignObject:not(:only-child) img {
  -webkit-clip-path: inset(calc(var(--rs-small-spacing) + 1px) calc(var(--rs-small-spacing) + 1px) round var(--rs-avatar-shape));
          clip-path: inset(calc(var(--rs-small-spacing) + 1px) calc(var(--rs-small-spacing) + 1px) round var(--rs-avatar-shape));
}
#app-mount .wrapper-3t9DeA[style="width: 16px; height: 16px;"] rect {
  display: none;
}
#app-mount .wrapper-3t9DeA[style="width: 16px; height: 16px;"] img {
  -webkit-clip-path: none;
          clip-path: none;
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile] {
  width: calc(100% + 4px);
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="32"] img {
  width: calc(100% - 12px);
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="80"] img {
  width: calc(100% - 16px);
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="80"]:after {
  width: 14px;
  height: 18px;
  top: 75%;
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="120"] img {
  width: calc(100% - 22px);
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="120"]:after {
  width: 24px;
  height: 20px;
  top: 75%;
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile]:after {
  content: "";
  display: var(--rs-phone-visible, block);
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center no-repeat;
          mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center no-repeat;
  position: absolute;
  width: 10px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: var(--rs-phone-color, var(--rs-online-color));
  z-index: 1;
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile] + rect {
  stroke: var(--rs-phone-color, var(--rs-online-color));
}
#app-mount .message-2qnXI6 .wrapper-3t9DeA foreignObject[mask*=mobile] {
  width: calc(100% + 3px);
}
#app-mount .message-2qnXI6 .wrapper-3t9DeA rect[mask*=typing] {
  width: calc(100% - 9px);
}
#app-mount .avatarHint-2A3RNb foreignObject {
  -webkit-mask: none;
          mask: none;
}
#app-mount .avatarHintInner-1TvA8u {
  border-radius: var(--rs-avatar-shape) !important;
  padding-top: 0;
  width: calc(100% - var(--rs-medium-width) - var(--rs-medium-spacing) + 2px);
  height: calc(100% - var(--rs-medium-width) - var(--rs-medium-spacing) + 2px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}
#app-mount .memberOffline-2lN7gt img {
  -webkit-clip-path: none !important;
          clip-path: none !important;
}
#app-mount .offline-3nJYBR img {
  -webkit-clip-path: none !important;
          clip-path: none !important;
}
#app-mount .avatarWrapperNonUserBot-3fzpUZ .wrapper-3t9DeA img {
  -webkit-clip-path: none !important;
          clip-path: none !important;
}
.userInfo-2zN2z8,
.peopleListItem-2nzedh {
  overflow: visible;
}
.info-1VyQPT .colorMuted-HdFt4q:last-child:after {
  content: "RadialStatus " var(--rs-version);
  display: block;
}
:root {
  --rs-version: "2.0.6";
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */
  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */
  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */
  --rs-online-color: #43b581; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */
  --rs-phone-visible: none; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}
