/*Theme*/
.theme-dark {
    --font-primary: 'VictorMono Nerd Font';
    --font-display: 'Scientifica';
    --background-primary: #262727;
    --background-secondary: #0e0e0e;
    --background-secondary-alt: #0e0e0e;
    --background-tertiary: #262727;
    --background-floating: #262727;
    --background-mobile-primary: #0e0e0e;
    --background-mobile-secondary: #262727;
    --header-primary : #f5d1c8;
    --interactive-normal : #f5d1c8;
    --interactive-hover : #dddddd;
    --interactive-active : #f5d1c8;
    --interactive-muted : #555657;
    --text-normal : #dddddd;
    --text-link : #77bee0;
    --text-muted : #555657;
    --text-warning : #ff8278;
    --channeltextarea-background: #55565755;
    --background-accent: #f5d1c8;
    --background-message-hover: #55565755;
    --background-modifier-hover: #55565755;
    --background-modifier-active: transparent;
    --background-modifier-selected: #262727;
    --deprecated-card-bg: #262727;
    --deprecated-quickswitcher-input-background:#262727;
    --elevation-low: none;
    --scrollbar-auto-thumb: #555657;
    --scrollbar-auto-track: #0e0e0e;
    --scrollbar-thin-thumb: #555657;
    --activity-card-background: #262727;
    --brand-experiment : #555657 !important;
}
.peopleList-3c4jOR.auto-Ge5KZx.scrollerBase-289Jih {
    background-color: #262727;
}
.peopleColumn-29fq28 {
    background-color: #262727;
}
.item-2hkk8m {
    background-color: #555657;
}

/*Hover Reveal Servers*/
nav[aria-label="Servers sidebar"] {
    width: 12px;
    transition: width 0.2s;
}
nav[aria-label="Servers sidebar"]:hover {
    width: 70px;
}

/* Minified Members and Search */
/* By Fitil, Search fix by Cryptogenic */
.members-1998pB, .membersWrap-2h-GB4, .searchResultsWrap-3-pOjs {
  z-index: 3;
  /*border-radius: 18px 0px 0px 18px !important;*/
  margin-top: 4px;
  margin-bottom: 4px;
  width: 62px;
  min-width: 60px;
  transition-property: width, min-width;
  transition-duration: 0.2s;
}
.members-1998pB:hover, .membersWrap-2h-GB4:hover {
  width: 240px;
  min-width: 240px;
}
.searchResultsWrap-3-pOjs:hover {
  width: 418px;
  min-width: 418px;
}
.searchResultGroup-1DphGG {
  width: 394px;
}
.membersWrap-2h-GB4, .searchResultsWrap-3-pOjs {
  position: absolute;
  right: 0;
  height: 100%;
  box-shadow: none;
}
.chatContent-a9vAAp {
  min-width: calc(100% - 60px);
  max-width: calc(100% - 60px);
}
.chatContent-a9vAAp[aria-label=" (channel)"] {
  min-width: 100%;
  max-width: 100%;
}

/*Hide Discord List Avatars*/
/*.layout-2DM8Md .avatar-3uk_u9, .subText-1KtqkB{
    display:none !important;
}*/

/*Hide Scrollbars*/
::-webkit-scrollbar {
    display: none;
}
.content-1x5b-n {
    margin: 0 !important;
    border-radius: 0;
}
.mainContent-u_9PKf {
    padding-left: 8px;
}
.container-2Pjhx- {
    margin: 0;
    max-width: unset;
}
.layout-2DM8Md {
    border-radius: 0;
    padding: 0 16px;
}
.unread-2lAfLh {
    z-index: 1;
}
.buttons-3JBrkn {
    padding-right: 10px !important;
}
