/* get more snippets at https://github.com/kmaasrud/awesome-obsidian */
/* author: https://forum.obsidian.md/u/rsdimitrov */
/* source: https://forum.obsidian.md/t/optimize-obsidian-ui-for-a-more-seamless-experience/155/5 */

/* smaller scrollbar */
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
::-webkit-scrollbar {
  background-color: var(--black);
  width: 4px;
}
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  width: 4px;
}
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
::-webkit-scrollbar-thumb:hover {
  background-color: var(--pink);
  width: 4px;
}
