/* get more snippets at https://github.com/kmaasrud/awesome-obsidian */
/* author: https://forum.obsidian.md/u/uzerper */
/* source: https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/72 */

.tag:not(.token) {
  background-color: var(--pink);
  border: none;
  color: var(--black);
  font-size: 11px;
  padding: 1px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 14px;
}
.tag:not(.token):hover {
  color: var(--black);
  background-color: var(--pink);
}
.tag[href^="#obsidian"] {
  background-color: var(--purple);
}
.tag[href^="#important"] {
  background-color: var(--red);
}
.tag[href^="#complete"] {
  background-color: var(--green);
}
.tag[href^="#inprogress"] {
  background-color: var(--orange);
}
